{{> layout/header}}
<div class="container d-flex">
    <section class="container grid-gap: 50px; mt-5">
        <h1>이력서 지원한 공고</h1>
        <br>
        <ul class="row row-cols-4 gap-3">
            <!-- 구인공고 시작 -->
            {{#applyList}}
                    <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
                        <a href="/person/applies/{{id}}" style="text-decoration: none; color: black">
                            <div style="width: 100%; height: 15rem; overflow: hidden">
                                <img src="/images/{{profile}}" class="card-img-top" alt="이력서 사진"/>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><b style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                  ">{{post.title}}</b></h5>
                                <p class="card-text" style="
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom:5px!important;
            ">{{post.task}}</p>
                                <h6><span>{{post.career}}</span></h6>
                                <h6><span>{{post.workingArea}}</span></h6>
                                <!-- 스킬 넘치면 more 나오게 하기(추후에) -->
                                <div class="d-flex justify-content-start" style="
                          display: -webkit-box;
                          -webkit-line-clamp: 1;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        ">
                                    {{#post.skillList}}
                                        <div class="btn btn-outline-warning btn-sm disabled">
                                            {{skill}}
                                        </div>
                                    {{/post.skillList}}
                                </div>
                            </div>
                        </a>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-outline-success mb-3" style="width: 100%">{{isPass}}</a>
                        </div>
                    </li>
            {{/applyList}}

            <!-- 구인공고 끝 -->

        </ul>
    </section>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    {{> layout/person-menu}}
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>

{{> layout/footer}}